[submodule "frontend"]
	path = frontend
	url = https://github.com/ronachong/moshimoji-frontend/
[submodule "backend"]
	path = backend
	url = https://github.com/ronachong/moshimoji-backend
[submodule "nginx"]
	path = nginx
	url = git@github.com:ronachong/moshimoji-nginx.git
